#login {
	width: 8%;
	background-color: #4a86e8;
	color: white;
	border: none;
	padding: 5px;
	float: right; 
}

#EorU {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc
}

#pass {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc
}

#dont {
	font-weight: bold;
	font-family: "Calibri";
	font-size: 20px;
}

#judul {
	font-family: "Calibri";
	font-size: 35px;
	color : #980000;
	font-weight : bold;
}

#PleaseLogin {
	font-weight: bold;
	font-family: "Calibri";
	font-size: 25px;
}

div {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 70px;
	margin-left: 70px;
}

hr {
	width: 99%;
}

label {
	font-family: "Calibri";
	font-size: 15px;
}

#project {
	color: #4a86e8;
}

#here {
	color: #4a86e8
}

a:link {
	color:#4a86e8; 
	background-color:transparent; 
	text-decoration:none;
}

a:visited {
	color:#4a86e8; 
	background-color:transparent; 
	text-decoration:none;
}


